<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">zaq123</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/usvnrestaurants</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<mapping class="com.khuongtest.model.Account" />
		<mapping class="com.khuongtest.model.Food" />
		<mapping class="com.khuongtest.model.Fooddetails" />
		<mapping class="com.khuongtest.model.FooddetailsId" />
		<mapping class="com.khuongtest.model.Rate" />
		<mapping class="com.khuongtest.model.Restaurant" />
		<mapping class="com.khuongtest.model.Role" />
	</session-factory>
</hibernate-configuration>
